<html ng-app="app">
  <head>
    <title></title>
    <link rel="icon" href="http://5tephen.com/img/cheeseplane.gif" type="image/gif"/>
    <link rel="stylesheet" href="style.css" />
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/angular.js" type="text/javascript"></script>
    <script src="js/util.js" type="text/javascript"></script>
    <script src="js/cursor.js" type="text/javascript"></script>
    <script src="js/folder.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/canvas.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <!--
    <script src=http://dystroy.org/JSON.prune/.js></script>
    -->
    <script src="js/pruner.js"></script>
    <script src="saves/chutes_and_ladders.js"></script>
    <script src="saves/plinko.js"></script>
    <script src="saves/crosswalk.js"></script>
  </head>
  <body ng-controller="Controller">
    <div id="controls">
      <button ng-click="reset()">reset</button>
      <label title="Record new cursor movements when clicking and dragging.">
        <input type="checkbox" ng-model="record" />
        record
      </label>
      <label title="Prevent cursors taking the folder from other cursors until it is released.">
        <input type="checkbox" ng-model="permagrab" />
        permagrab
      </label>
      <label title="Allow cursors to swoop in and pick up the folder at any point along their path, as opposed to
                    only picking them up at the beginning of the path.">
        <input type="checkbox" ng-model="quickSteal" />
        quickSteal
      </label>
      <label title="Show the path each cursor is repeating.">
        <input type="checkbox" ng-model="drawPaths" />
        drawPaths
      </label>
      image: <input type="text" ng-model="background" /> <button ng-click="setBackground()">set</button>
      <button ng-click="loadChutes()">chutes</button>
      <button ng-click="loadPlinko()">plinko</button>
      <button ng-click="loadCrosswalk()">crosswalk</button>
      <button ng-click="merge()">merge</button>
    </div>
    <canvas id="canvas"></canvas>
  </body>
</html>
