body {
	background-color: goldenrod;
	font-family: monospace;
  padding: 0;
  margin: 0;
}

a {
	color: #CC0000;
}

a:hover {
	color: yellow;
}

a:visited {
	color: #AA0000;
}

div {
	background-color: white;
  padding: 0 1em;
}

.center {
  text-align: center;
}

#canvas {
  background-color: white;
}

#bar {
  background-color: #CCCCCC;
}

label {
  cursor: pointer;
}
