body {
	background-color: goldenrod;
	font-family: monospace;
}

a {
	color: #CC0000;
}

a:hover {
	color: yellow;
}

a:visited {
	color: #AA0000;
}

div {
	background-color: white;
	border: solid black 1px;
  padding: 0 1em;
  margin: 1em;
}

.center {
  text-align: center;
}
