body {
	font-family: monospace;
  padding: 0;
  margin: 0;
}

a {
	color: #CC0000;
}

a:hover {
	color: yellow;
}

a:visited {
	color: #AA0000;
}

div {
	background-color: white;
  padding: 0 1em;
}

.center {
  text-align: center;
}

#canvas {
  background-color: white;
}

#controls {
  background-color: #CCCCCC;
  float: left;
  width: 10em;
  height: 100%;
  position: relative;
}

#controls button,
#controls label {
  display: block;
  width: 100%;
}

#controls a {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  left: 0;
}

label {
  cursor: pointer;
}
